.SoulsContainer {
    width: 100%;
}

.CardsContainer {
    padding: 20px 50px;
    gap: 20px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.HomeLayoutContainer {
    padding: 20px 50px;
}

h2 {
    text-align: left;
    margin-top: 10px;
}

.GrantAccessLayoutContainer {
    padding: 20px 100px;
}