.navbar {
    background-color: orange !important;
}

.navbarLinks {
    font-size: 20px;
}

.navbarHeading {
    font-size: 22px !important;
}

.Logo {
    font-weight: 900;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
    width: fit-content;
}