.Card {
    width: 400px !important;
    flex-basis: 32%;

    .Img {
        height: 400px !important;
    }
}

.card-img, .card-img-bottom {
    height: 400px !important;
}

.button {
    margin-bottom: 20px;
}

.dropdown, .dropdown-basic {
    min-width: 130px;
}